:root {
  font: 16px system-ui, sans-serif;
  color-scheme: light;
}

body {
  margin: 0;
  background: #eee;
  user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
}

#app {
  min-height: 100vh;
}
